.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7B1FA2;
  position: relative;
  
  button {
    font-size: 24px;
    padding: 16px 32px;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #303f9f;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 30%, rgba(255,255,255,0.05) 40%, rgba(255,255,255,0) 70%);
    z-index: -1;
    animation: waves 10s linear infinite forwards;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes waves {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
